/* Custom Properties */
:root {
  --sky-blue: #add8e6;
  --blue: #00008b;
  --light-blue: #1e90ff;
  --orange: #daa520;
  --hard-pink: #ee82ee;
  --pink: #ffc0cb;
  --smerald: #20b2aa;
  --water-green: #20b2aa;
  --green: #228b22;
  --pink: #ffc0cb;
  --salmon: #f08080;
  --pink: #ffc0cb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General  */

body {
  font-family: sans-serif;
}

/* Navigation bar  */

.navbar {
  background-color: var(--sky-blue);
  height: 80px;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
}

.navitems {
  background-color: var(--orange);
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav-links {
  flex-basis: 60%;
  justify-content: center;
}
/* Header  */

header {
  background-color: var(--blue);
  height: 400px;
  justify-content: center;
}

.spotlight {
  background-color: var(--hard-pink);
  flex-basis: 50%;
  height: 80%;
  align-self: center;
}

/* Utilities  */

.d-flex {
  display: flex;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
